page-addteacher {

.datetime-ios
	{
	   padding-left: 0px !important;
	}
	
	.select-ios
	{
	   padding-left: 0px !important;
	}
	
	ion-select
	{
		max-width:100% !important;	
	}
	
	.item-ios 
	{
		padding-left:0px !important;
		font-size:14px !important;	
	}
	
	.item-cover
	{
	   height: 1px !important;
	}

}
